DB_PORT=1234                                     # VARIABLE DE ENTORNO OPCIONAL 
DB_USER=usuario                                  # VARIABLE DE ENTORNO OBLIGATORIA             
DB_PASSWORD=tu_contrasena_aqui                   # VARIABLE DE ENTORNO OBLIGATORIA       
LLAVE=cadena_secreta_larga_y_aleatoria_aqui      # VARIABLE DE ENTORNO OBLIGATORIA  
CORREO=correo@dominio.com                        # VARIABLE DE ENTORNO OPCIONAL(SOLO PARA TESTS)              
CONTRASENA=tu_contrasena_aqui                    # VARIABLE DE ENTORNO OPCIONAL(SOLO PARA TESTS) 